.loader_section{
    height: 80vh;
    align-items: center;
}
.spinner-border{
    color: #0d6efd;
}
.col-md-4 .thumbnail-img{
    height: -webkit-fill-available!important;
}
.modal-content p{
    margin: 0;
}
.modal-header {
    align-items: baseline;
}
.author-details{
    display: flex;
    justify-content: space-between;
    padding: 5px 16px;
    border-bottom: 1px solid #dee2e6;
}
#modal-body p{
    margin-left: 16px;
}